<ion-content fullscreen class="login-content">
  <form (submit)="login()" class="login-form">
    <h1 class="login-title">Welcome</h1>
    <p class="login-subtitle">Sign in to continue</p>

    <ion-item class="input-item">
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        [(ngModel)]="password"
        name="password"
        [type]="showPassword ? 'text' : 'password'"
        required
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="showPassword ? 'eye-off' : 'eye'"
        class="toggle-password"
        (click)="togglePassword()"
      ></ion-icon>
    </ion-item>

    <ion-button expand="block" type="submit" class="login-button">
      LOGIN
    </ion-button>

    <div class="actions">
      <a (click)="goToSignup()">Sign up</a>
      <a (click)="forgotPassword()">Forgot Password</a>
    </div>
  </form>
</ion-content>
